---
layout: page
title: Publikationen
ref: publications
lang: de
---


{% assign years = site.publications | map: "year" | uniq %}

{% for y in years %}

<h2>{{ y }}</h2>
{% assign thisyear = site.publications | where:"year", y %}
{% for pub in thisyear %}
	{% case pub.layout %}
		{% when "inproceedings" %}
<div class="publication">{% include inproceedings.html p=pub %}<p class="right_aligned"><a href="{{site.url}}/publications/{{pub.ref}}">Details ...</a></p></div>
	{% endcase %}

{% endfor %}

{% endfor %}
