body {
  counter-reset: cnt_figure;
  counter-reset: cnt_table;
}

.figure {
  counter-increment: cnt_figure;
}

span.ref-figure:before {
  content: "Abbildung " counter(cnt_figure);
}

span.ref-table:before {
  content: "Tabelle " counter(cnt_table);
}


.table {
  counter-increment: cnt_table;
}

.caption {
  font-size:12px;
}

.figure .caption:before {
  content: "Abbildung " counter(cnt_figure) ": ";
  font-weight:bold;
}

.table .caption:before {
  content: "Tabelle " counter(cnt_table) ": ";
  font-weight: bold;
}

pre.highlight {
  background-color: #EEE;
}

.post h2 {
  margin-top:100px;
}

p.right {
  text-align:right;
}

.posts li {
  clear:left;
}

.posts li img {
  position:relative;
  left:-40px;
  border:thin solid #454545;
  float:left;
  height: 100%;
  width:auto;
}

.postlogo {
  float:right;
  border:thin solid #454545;
}

.qd_title {
  font-style: italic;
}


.qd_tab {
  clear:left;
  float:left;
  width:100%;
  overflow:hidden;
  background-color:#6a9fb5;
}

.qd_tab ul {
  clear:left;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  padding-top:5px;
  padding-bottom:5px;
  position:relative;
  left:50%;
  text-align:center;
}
.qd_tab ul li {
  display:block;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  right:50%;
}
.qd_tab ul li a {
  display:block;
  margin:0;
  padding:.4em .8em;
  color:#FFF !important;
  text-decoration:none;
  line-height:1.3em;
}
.qd_tab ul li.active a {
  background-color:rgba(255,255,255,.1);
}
.qd_tab ul li a:hover {
  background-color:rgba(255,255,255,.1);
}
.qd_tab ul li a span {
  display:block;
}

/*
 * tables
 */
table {
  font-size: 12px;
}
div.table {
  font-size: 14px;
}
.paginate_button {
  padding:0
}
