@{{page.type}}{ {{ page.id | remove_first: "/publications/" }},
   Title = { { {{ page.title }} } },
{% if page.address %}   Address = { {{ page.address }} },
{% endif %}{% if page.author %}   Author = { {{ page.author | join: " and " }} },
{% endif %}{% if page.editor %}   Editor = { {{ page.editor | join: " and " }} },
{% endif %}{% if page.booktitle %}   Booktitle = { {{ page.booktitle }} },
{% endif %}{% if page.pages %}   Pages = { {{ page.pages }} },
{% endif %}{% if page.journal %}   Journal = { {{ page.journal }} },
{% endif %}{% if page.volume %}   Volume = { {{ page.volume }} },
{% endif %}{% if page.publisher %}   Publisher = { {{ page.publisher }} },
{% endif %}{% if page.number %}   Number = { {{ page.number }} },
{% endif %}{% if page.series %}   Series = { {{ page.series }} },
{% endif %}{% if page.institution %}   Institution = { {{ page.institution }} },
{% endif %}{% if page.school %}   School = { {{ page.school }} },
{% endif %}{% if page.edition %}   Edition = { {{ page.edition }} },
{% endif %}{% if page.iurl %}   Url = { {{ page.iurl }} },
{% endif %}{% if page.isbn %}   Isbn = { {{ page.isbn }} },
{% endif %}{% if page.month %}   Month = { {% include month.html m=page.month %}},
{% endif %}{% if page.doi %}   Doi = { {{ page.doi }} },
{% endif %}{% if page.status %}   Note = { {{ page.status }} },
{% endif %}   Year = { {{ page.year }} }
}