{% capture hide %}

{% if include.mode != 'month' %}

      {% assign day = include.date | date: "%-d" %}

  {% if include.lang == 'fr' %}

    {% if day == "1" %}
      {% capture sup %}<sup>er</sup>{% endcapture %}
    {% else %}
      {% capture sup %}{% endcapture %}
    {% endif %}

  {% elsif include.lang == 'de' %}
    {% capture sup %}.{% endcapture %}

  {% else %}

    {% case day %}
      {% when '1' or '21' or '31' %}
        {% capture sup %}<sup>st</sup>{% endcapture %}
      {% when '2' or '22' %}
        {% capture sup %}<sup>nd</sup>{% endcapture %}
      {% when '3' or '23' %}
        {% capture sup %}<sup>rd</sup>{% endcapture %}
      {% else %}
        {% capture sup %}<sup>th</sup>{% endcapture %}
      {% endcase %}

  {% endif %}

{% endif %}

{% if include.lang == 'fr' %}

  {% assign m = include.date | date: "%-m" %}
  {% case m %}
  {% when '1' %}
    {% capture month %}janvier{% endcapture %}
  {% when '2' %}
    {% capture month %}février{% endcapture %}
  {% when '3' %}
    {% capture month %}mars{% endcapture %}
  {% when '4' %}
    {% capture month %}avril{% endcapture %}
  {% when '5' %}
    {% capture month %}mai{% endcapture %}
  {% when '6' %}
    {% capture month %}juin{% endcapture %}
  {% when '7' %}
    {% capture month %}juillet{% endcapture %}
  {% when '8' %}
    {% capture month %}août{% endcapture %}
  {% when '9' %}
    {% capture month %}septembre{% endcapture %}
  {% when '10' %}
    {% capture month %}octobre{% endcapture %}
  {% when '11' %}
    {% capture month %}novembre{% endcapture %}
  {% when '12' %}
    {% capture month %}décembre{% endcapture %}
{% endcase %}

{% elsif include.lang == 'de' %}
{% assign m = include.date | date: "%-m" %}
{% case m %}
  {% when '1' %}
    {% capture month %}Januar{% endcapture %}
  {% when '2' %}
    {% capture month %}Februar{% endcapture %}
  {% when '3' %}
    {% capture month %}März{% endcapture %}
  {% when '4' %}
    {% capture month %}April{% endcapture %}
  {% when '5' %}
    {% capture month %}Mai{% endcapture %}
  {% when '6' %}
    {% capture month %}Juni{% endcapture %}
  {% when '7' %}
    {% capture month %}Juli{% endcapture %}
  {% when '8' %}
    {% capture month %}August{% endcapture %}
  {% when '9' %}
    {% capture month %}September{% endcapture %}
  {% when '10' %}
    {% capture month %}Oktober{% endcapture %}
  {% when '11' %}
    {% capture month %}November{% endcapture %}
  {% when '12' %}
    {% capture month %}Dezember{% endcapture %}
{% endcase %}

{% else %}
  {% capture month %}{{ include.date | date: "%B" }}{% endcapture %}

{% endif %}



{% capture year %}{{ include.date | date: "%Y" }}{% endcapture %}

{% endcapture %}
