<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <div class="sidebar-item">
  {% if page.layout == "pub" %}
  <ul class="languages">
  <li class="{{ page.lang }}">{% include language.html lang=page.lang %}</li>
  </ul>
  {% else %}
  <ul class="languages">
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %}
    <li class="{{ page.lang }}">
      <a href="{{ page.url }}">{% include language.html lang=page.lang %}</a>
    </li>
  {% endfor %}
  {% assign pages=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %}
    <li class="{{ page.lang }}">
      <a href="{{ page.url }}">{% include language.html lang=page.lang %}</a>
    </li>
  {% endfor %}
  </ul>
  {% endif %}
  </div>

  <div class="sidebar-item">
    {{ site.description }}
  </div>


  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

<!--
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <hr/>
  -->

    {% assign pages_list=site.pages | where:"lang", "en" | sort: "order" %}
    {% for node in pages_list %}
      {% assign translation = site.pages | where:"ref", node.ref | where:"lang", page.lang %}
      {% if node.layout == "page" %}
        {% if translation[0] %}
          <a class="sidebar-nav-item{% if page.url == translation[0].url %} active{% endif %}" href="{{ site.baseurl }}{{ translation[0].url }}">{{ translation[0].title }}</a>
          {% if node.ref == "blog" %}
            {% for node2 in pages_list %}
            {% if node2.layout == "tagpage" %}
              {% assign translation2 = site.pages | where:"ref", node2.ref | where:"lang", page.lang %}
                  <a class="sidebar-nav-item{% if page.url == translation2[0].url %} active{% endif %}" href="{{ site.baseurl }}{{ translation2[0].url }}">&nbsp;&raquo; {{ translation2[0].title }}</a>
			{% endif %}
            {% endfor %}
          {% endif %}
        {% else %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ default.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}



    <!-- The code below is used for manually entered links  -->

    <div class="sidebar-nav-item">
    <a href="https://github.com/quadrama" target="_blank">github.com/quadrama</a>
  </div>
    <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->

    <div class="sidebar-nav-item" style="margin-top:100px;">
      <div style="font-size:10px;margin-bottom:10px;">{% if page.lang == "de" %}
        Gefördert von der
      {% else %}
        Funded by Volkswagen Foundation
      {% endif %}</div>

      <div><a href="https://www.volkswagenstiftung.de" alt="VolkswagenStiftung" title="VolkswagenStiftung"><img src="{{site.url}}/assets/about/VWST_rgb_100_weiss.png"></a></div>
    </div>
  </nav>

</div>
