<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <div class="sidebar-item">
  <ul class="languages">
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %}
    <li class="{{ page.lang }}">
      <a href="{{ page.url }}">{% include language.html lang=page.lang %}</a>
    </li>
  {% endfor %}
  </ul>
  </div>

  <div class="sidebar-item">
    {{ site.description }}
  </div>


  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

<!--
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <hr/>
  -->

    {% assign pages_list=site.pages | where:"lang", "en" %}
    {% for node in pages_list %}
      {% assign translation = site.pages | where:"ref", node.ref | where:"lang", page.lang %}
      {% if node.layout == "page" %}
        {% if translation[0] %}
          <a class="sidebar-nav-item{% if page.url == translation[0].url %} active{% endif %}" href="{{ site.baseurl }}{{ translation[0].url }}">{{ translation[0].title }}</a>
        {% else %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ default.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}


    <!-- The code below is used for manually entered links  -->

    <a class="sidebar-nav-item" href="https://github.com/quadrama" target="_blank">github.com/quadrama</a>
    <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
  </nav>

</div>
