---
layout: default
---

<div class="post">
  {% include date.html date=page.date lang=page.lang %}

  <div class="headline">
    <div class="left">{{ page.categories | join: " • " }}</div>
    <div class="right">{{ day }}{{ sup }} {{ month }} {{ year }}</div>
    <div style="clear:both;"></div>
  </div>
  {% if page.authors %}
    <p><strong>{{ page.authors | join: " • "}}</strong></p>
  {% endif %}
  <h1 class="post-title">{{ page.title }}</h1>
  <h1>{{ page.subtitle }}</h1>

  {% if page.logo %}
    <img class="postlogo" src="{{ page.logo }}" />
  {% endif %}

  {{ content }}
</div>
