---
layout: default
---

<div class="post">
  
  
 
  
  <div class="headline">
    <div class="left">{% include categories.html categories=page.categories %}</div>
	<div class="right">
	{% include date.html date=page.date lang=page.lang %}
    {{ day }}{{ sup }} {{ month }} {{ year }}
    {% if page.update %}
  	  {% include date.html date=page.update lang=page.lang %}
	<span title="last update">({{ day }}{{ sup }} {{ month }} {{ year }})</span>
    {% endif %}
	</div>
	
    <div style="clear:both;"></div>
  </div>
  {% if page.authors %}
    <p><strong>{{ page.authors | join: " • "}}</strong></p>
  {% endif %}
  <h1 class="post-title">{{ page.title }}</h1>
  <h1>{{ page.subtitle }}</h1>

  {% if page.logo and page.logoborder %}
    <img class="postlogo border" src="{{ page.logo }}" />
  {% else if page.logo %}
    <img class="postlogo" src="{{ page.logo }}" />
  {% endif %}

  {{ content }}
</div>
