---
layout: default
---

<div class="publication">
  <div class="bibentry">
  	{% include {{page.type}}.html p=page %}
  </div>
  {% if page.doi %}
  <div>
  DOI: <a href="http://dx.doi.org/{{page.doi}}">{{page.doi}}</a>
  </div>
  {% endif %}


{% if page.downloads %}
<h3>Downloads</h3>
<ul>
{% for d in page.downloads %}
<li><a href="{{d.url}}">{{d.desc}}</a></li>
{% endfor %}
</ul>
{% endif %}

  {{ content }}
  
  
  
  <h3>BibTeX</h3>
  <pre>{% include bibtex.html p=page %}</pre>

  <h3>RIS</h3>
  <pre>{% include ris.html p=page %}</pre>
  
</div>
